{% extends 'base.html' %}
{% block content %}
 <div class="text-center">
    {% load static %}
        <h1>Hello, {{ request.user }}!</h1>
        <h5>This is your profile</h5>
            <form action="{% url 'profile edit' user.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <br>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>

        </div>
    </div>
{% endblock %}