{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <h1 class="text-center">Workouts</h1>
    <div class="d-flex p-3">
        {% for workout in workouts %}
        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'logo.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ workout.muscle_group}}</h5>
                <p class="card-text">{{ workout.title }}</p>
                <a href="{% url 'workout details' workout.id %}" style="color:orange">Details</a>

            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}